﻿@using VirtualDispatcherWebsite.Models
@model CreateLoadSheetViewModel
@{
    ViewBag.Title = "Create LoadSheet";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loadSheetForm">
            @using (Html.BeginForm("Index", "CreateLoadSheet", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, null, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4></h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(m => m.AircraftRegistrationNumber, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.AircraftRegistrationNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.AircraftRegistrationNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.APSWeight, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.APSWeight, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(m => m.APSWeight, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Observer1, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.CheckBoxFor(m => m.Observer1, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Observer2, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.CheckBoxFor(m => m.Observer2, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Attendance5, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.CheckBoxFor(m => m.Attendance5, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Attendance6, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.CheckBoxFor(m => m.Attendance6, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.MaxTakeOffWeight, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.MaxTakeOffWeight, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.MaxTakeOffWeight, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.MaxZeroFuelWeight, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.MaxZeroFuelWeight, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(m => m.MaxZeroFuelWeight, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.MaxLandingWeight, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.MaxLandingWeight, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(m => m.MaxLandingWeight, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.FlightNumber, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.FlightNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.FlightNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.CockpitCrewWeight, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.CockpitCrewWeight, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CockpitCrewWeight, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.CabinCrewWeight, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.CabinCrewWeight, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CabinCrewWeight, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.RampFuel, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.RampFuel, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.RampFuel, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.TaxiFuel, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.TaxiFuel, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.TaxiFuel, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.TripFuel, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.TripFuel, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.TripFuel, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.MaxTakeOffWeightCaptain, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.MaxTakeOffWeightCaptain, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.MaxTakeOffWeightCaptain, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Adults, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Adults, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Adults, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Childs, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Childs, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Childs, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Infant, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Infant, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Infant, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PaxForward, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.PaxForward, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PaxForward, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PaxMiddle, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.PaxMiddle, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PaxMiddle, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PaxAfter, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.PaxAfter, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PaxAfter, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.BagsHold1, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.BagsHold1, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.BagsHold1, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.BagsHold2, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.BagsHold2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.BagsHold2, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.BagsHold3, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.BagsHold3, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.BagsHold3, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.BagsHold4, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.BagsHold4, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.BagsHold4, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.CargoHold1Weight, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.CargoHold1Weight, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CargoHold1Weight, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.CargoHold2Weight, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.CargoHold2Weight, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CargoHold2Weight, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.CargoHold3Weight, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.CargoHold3Weight, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CargoHold3Weight, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.CargoHold4Weight, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.CargoHold4Weight, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CargoHold4Weight, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Calculate" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>