﻿@using System.Reflection
@using Newtonsoft.Json;
@model LoadSheetResultsViewModel

@{
    ViewBag.Title = "LoadSheetResults";
}

<h2>LoadSheetResults</h2>

@{
    Type tModelType = Model.GetType();
    PropertyInfo[] arrayPropertyInfos = tModelType.GetProperties();

    foreach (PropertyInfo property in arrayPropertyInfos)
    {
        <a>@property.Name : <strong>@property.GetValue(Model).ToString()</strong></a><br />
    }

}

